// Variables
$primary-color: black;
$background-color: #ffffff;
$menu-bg: #ffffff;
$transition-speed: 0.3s;

// Menu container
.menuContainer {
  display: none;
  @media screen and (max-width: 768px) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    user-select: none;
  }
}

// Menu button (hamburger)
.menuButton {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1000;

  .bar {
    width: 100%;
    height: 7px;
    border: 3px solid $primary-color;
    background-color: #f8f9fa;
    border-radius: 64px;
    transition: $transition-speed;
  }

  &.active {
    .bar:nth-child(1) {
      transform: translateY(12px) rotate(45deg);
    }

    .bar:nth-child(2) {
      opacity: 0;
    }

    .bar:nth-child(3) {
      transform: translateY(-11px) rotate(-45deg);
    }
  }
}
