.bannerWrapper {
  //   width: 100%;
  //   height: auto;
  //   max-height: min-content;
  //   position: relative;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    align-items: flex-start;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .art {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 1;
    width: 100%;
    transform: rotate(180deg) scale(1.5);
  }

  .desktopBannerImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
  }

  .content {
    position: relative;
    z-index: 2;
    color: white;
    // padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 12vw;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      padding: 16px;
      gap: 16px;
      margin-left: unset;
      align-items: center;
      justify-content: center;
      margin-top: 64px;
    }

    .text {
      display: block;
      height: 100%;
      color: #ffffff;
      z-index: 1;

      h1 {
        font-size: 72px;
        font-family: "BerlingskeRegular";
        line-height: 0.9;
        letter-spacing: 2px;
      }

      h5 {
        font-size: 24px;
        font-family: "PoppinsRegular";
        font-weight: 400;
        letter-spacing: 1.5px;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        font-family: "PoppinsRegular";
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.6;
      }
    }

    @media screen and (max-width: 768px) {
      .text {
        text-align: center;

        h1 {
          font-size: 64px;
          color: var(--primary-color);
        }

        h5 {
          font-size: 24px;
          color: var(--primary-text-color);
          letter-spacing: 0.8px;
        }

        p {
          font-size: 12px;
          letter-spacing: 0.8px;
          color: var(--primary-text-color);
        }
      }
    }
  }
}

.mapWrapper {
  width: 100%;
  height: min-content;
  text-align: center;
  background-color: var(--secondary-bg-color);
  color: #669999;
  padding: 64px 0px;
  position: relative;
  overflow: hidden;

  .art {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    transform: rotate(180deg);
  }

  h6 {
    color: #ffffff;
    font-family: "BerlingskeRegular";
    margin-bottom: 6px;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }

    @media screen and (max-width: 480px) {
      font-size: 18px;
    }
  }

  h3 {
    margin-bottom: 36px;
  }

  .mapContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    // position: relative;

    img {
      width: 70vw;
      width: 70dvw;
      max-width: 800px;
    }

    .innerContainer {
      position: relative;
      width: 1200px;
      padding-bottom: 96px;
    }

    .directLinkWrapper {
      position: absolute;
      left: 0;
      top: 35%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px 12px;

      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        top: unset;
        left: unset;
        bottom: 0px;
        right: 0;
        width: fit-content;
      }

      img {
        width: 24px;
        margin-bottom: 6px;

        @media screen and (max-width: 768px) {
          margin-top: 12px;
        }
      }

      p {
        font-family: "PoppinsRegular";
        line-height: 1.2;
        font-size: 14px;
      }
    }

    .interchangeWrapper {
      position: absolute;
      right: 0;
      top: 45%;
      display: flex;
      gap: 12px;
      align-items: center;
      padding: 0px 12px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        top: unset;
        right: unset;
        bottom: 30px;
        left: 5vw;
        width: fit-content;
      }

      .interchangeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      img {
        width: 32px;
        margin-bottom: 6px;
      }

      p {
        font-family: "PoppinsRegular";
        line-height: 1.2;
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .mapContainer {
      padding: 0px 12px;

      img {
        width: 100%;
      }
    }
  }

  p {
    font-family: "PoppinsRegular";
  }

  .subtitle {
    margin-top: 46px;
    margin-bottom: 36px;
    letter-spacing: 1.5px;
    color: #ffffff;
    overflow-wrap: break-word;
    user-select: none;
    @media screen and (max-width: 768px) {
      font-size: 14px;
      padding: 0px 36px;
    }
  }

  .mapCardInfoWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 16px;

    .mapCardInfoContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, 225px);
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      gap: 16px;

      @media screen and (max-width: 512px) {
        grid-template-columns: 1fr;
      }

      .cardInfoWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        background-color: #151e35;
        border-radius: 16px;

        .imgWrapper {
          overflow: hidden;
          width: 72px;
          height: 72px;
          margin-bottom: 4px;

          @media screen and (max-width: 768px) {
            width: 96px;
            height: 96px;
          }

          img {
            width: 100%;
          }
        }

        p {
          line-height: 1.2;
          letter-spacing: 1px;

          margin: 0 !important;
        }
      }
    }
  }
}

.newlyLaunchedHomesWrapper {
  width: 100%;
  background: linear-gradient(
    to bottom,
    #ffffff 50%,
    var(--secondary-bg-color) 50%
  );
  text-align: center;
  padding: 64px 0px;
  overflow: hidden;
  position: relative;

  .mobileArt {
    position: absolute;
    top: 30px;
    left: 40px;
    z-index: 1;
    width: 100%;
    transform: rotate(180deg) scale(1.5);
  }

  .desktopArt {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
  }

  .subtitle {
    font-family: "PoppinsRegular";
    font-size: 14px;
    letter-spacing: 0.7px;
    user-select: none;
    @media screen and (max-width: 768px) {
      padding: 0px 12px;
    }
  }

  .newlyLaunchedCardWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 64px 0px;

    .newlyLaunchedCardContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, 350px);
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 1200px;
      gap: 46px;
    }
  }

  .moreHomeBtn {
    width: 200px;
    height: 48px;
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
  }
}

.registerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 64px 0px;

  .subtitle {
    margin-top: 24px;
    font-family: "PoppinsRegular";
    font-size: 14px;
    letter-spacing: 0.7px;
    user-select: none;
    @media screen and (max-width: 768px) {
      padding: 0px 12px;
    }
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    gap: 24px;
    width: 100%;
    max-width: 768px;
    padding: 0px 24px;

    .select {
      border: none;
      border-bottom: 1px solid #2c2c2c;
      font-family: "PoppinsRegular";
      width: 100%;
      padding: 5px 8px;
      color: rgba(0, 0, 0, 0.32);
      background: transparent;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:focus {
        outline: none;
        border-bottom: 1px solid black;
      }

      &:hover {
        border-bottom: 1px solid black;
      }
    }

    .selected {
      color: black;
    }

    .select option {
      opacity: 0;
      transform: translateY(-5px);
      transition: opacity 0.3s ease, transform 0.3s ease;
      color: black;
    }

    .select option:disabled {
      color: rgba(0, 0, 0, 0.32) !important;
    }

    .select:focus option {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .registerBtn {
    margin-top: 48px;
    font-family: "PoppinsBold";
    letter-spacing: 0.9px;
    height: 48px;
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    text-transform: uppercase;
  }
}
